<div class="container grid-xl">
    <form class="form-horizontal auth_form" method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="toast toast-error">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
            <br>
        {% endif %}

        {% for field in form.visible_fields %}
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
            </div>
            <div class="col-9 col-sm-12">
                {{ field }}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <p class="form-input-hint">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if field.help_text %}
                    <p class="form-input-hint">{{ field.help_text }}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <button class="btn btn-link btn-lg" type="submit">Отправить</button>
    </form>
</div>